.container {
    padding: 8px;
    box-shadow: 10px, 3px, 11px, 3px, rgb(0, 0, 0 / 32%);
    max-width: 80%;
    margin: auto;
    background-color: antiquewhite;
    padding-left: 80%;
}

.list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.item {
    margin: 0px 16px;
}